.root {
  max-width: 480px;
  text-align: center;
  margin: 32px;
  padding: 26px 32px;
  flex: 1 1 25%;
}

.header {
  width: 100%;
}

.image {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 50%;
}

.body {
  margin-top: 32px;
}

.title {
  margin: 0,
}

.text {
  margin-top: 16px;
}
