.root {
  max-width: 480px;
  text-align: center;
  margin: 32px;
}

.header {

}

.image {
  width: 100%;
  margin: 0;
}

.body {
  padding: 26px 32px;
}

.title {
  margin: 0,
}

.gutterBottom {
  margin-bottom: 32px;
}
