.root {
    height: 84px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.logo {
    display: block;
    margin: 0;
    height: 24px;
}

.list {
    margin: 0;
    display: flex;
    align-items: center;
}

.item {
    margin: 0;
    margin-left: 32px;
    line-height: 24px;
    font-weight: 500;
}