.form {
  width: 100%;
  max-width: 480px;
  text-align: center;
  padding-top: 32px;
}

.group {
  margin-bottom: 16px;
  display: flex;
}

.label {

}

.input {
  margin-left: 32px;
  flex: 1;
}